APP_NAME=NextGNTracker
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://__NEXTGN_DOMAIN__

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=nextgn
DB_USERNAME=nextgn
DB_PASSWORD=change_me

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
